<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carlosdeveloper.com.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".latinActivity"
            android:label="@string/latin" />
        <activity
            android:name=".popActivity"
            android:label="@string/pop" />
        <activity
            android:name=".indieActivity"
            android:label="@string/rock_indie" />
        <activity
            android:name=".hiphopActivity"
            android:label="@string/hiphop" />
        <activity
            android:name=".houseActivity"
            android:label="@string/deep_house" />

        <activity
            android:name=".nowPlaying"
            android:label="Now Playing" />
    </application>

</manifest>